USE [master];
GO

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'QuanLyBanLaptop')
BEGIN
    CREATE DATABASE [QuanLyBanLaptop];
END
GO

USE [QuanLyBanLaptop];
GO
/****** Object:  Database [QuanLyBanLaptop]    Script Date: 11/12/2025 2:57:40 PM ******/
CREATE DATABASE [QuanLyBanLaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanLaptop', FILENAME = N'C:\Users\Ngoc Duy\QuanLyBanLaptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanLaptop_log', FILENAME = N'C:\Users\Ngoc Duy\QuanLyBanLaptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanLaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanLaptop]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](200) NULL,
	[TableName] [nvarchar](100) NULL,
	[RecordID] [nvarchar](100) NULL,
	[Timestamp] [datetime] NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceUnits]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceUnits](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SerialNumber] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[PurchaseDate] [date] NULL,
	[SoldDate] [date] NULL,
	[WarrantyStartDate] [date] NULL,
	[WarrantyEndDate] [date] NULL,
	[CurrentCustomerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UnitID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CPU] [nvarchar](100) NULL,
	[RAM] [nvarchar](50) NULL,
	[Storage] [nvarchar](100) NULL,
	[GPU] [nvarchar](100) NULL,
	[ScreenSize] [nvarchar](50) NULL,
	[OS] [nvarchar](100) NULL,
	[CostPrice] [decimal](18, 2) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[ReorderLevel] [int] NULL,
	[WarrantyMonths] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetails]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetails](
	[PurchaseDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[SerialFrom] [nvarchar](100) NULL,
	[SerialTo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[Date] [date] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Contact] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[FullName] [nvarchar](100) NULL,
	[AvatarPath] [nvarchar](500) NULL,
	[Email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaims]    Script Date: 11/12/2025 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaims](
	[ClaimID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ReportDate] [date] NULL,
	[IssueDescription] [nvarchar](1000) NULL,
	[Status] [nvarchar](50) NULL,
	[Resolution] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

------------------------------------------------------------
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Timestamp], [Note]) VALUES (1, 1, N'LOGIN', N'Users', N'1', CAST(N'2025-11-09T00:04:51.443' AS DateTime), N'Admin đăng nhập')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Timestamp], [Note]) VALUES (2, 2, N'CREATE_ORDER', N'Orders', N'1', CAST(N'2025-11-09T00:04:51.443' AS DateTime), N'Nhân viên 2 tạo đơn hàng 1')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Timestamp], [Note]) VALUES (3, 1, N'CREATE_PURCHASE', N'PurchaseOrders', N'1', CAST(N'2025-11-09T00:04:51.443' AS DateTime), N'Admin tạo phiếu nhập 1')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Email], [Address]) VALUES (1, N'Đặng Xuân Nga (Công ty TNHH)', N'0900000001', N'kh1@gmail.com', N'Số 1, Đường 2, Quận 2')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Email], [Address]) VALUES (2, N'Nguyễn Gia Dũng (Sinh viên)', N'0900000002', N'kh2@gmail.com', N'Số 2, Đường 3, Quận 3')
INSERT [dbo].[Customers] ([CustomerID], [Name], [Phone], [Email], [Address]) VALUES (3, N'Hoàng Bảo Giang (Sinh viên)', N'0900000003', N'kh3@gmail.com', N'Số 3, Đường 4, Quận 4')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DeviceUnits] ON 

INSERT [dbo].[DeviceUnits] ([UnitID], [ProductID], [SerialNumber], [Status], [PurchaseDate], [SoldDate], [WarrantyStartDate], [WarrantyEndDate], [CurrentCustomerID]) VALUES (1, 1, N'Dell_SN_PO1_A1', N'SOLD', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-19' AS Date), CAST(N'2025-10-19' AS Date), CAST(N'2026-10-19' AS Date), 1)
INSERT [dbo].[DeviceUnits] ([UnitID], [ProductID], [SerialNumber], [Status], [PurchaseDate], [SoldDate], [WarrantyStartDate], [WarrantyEndDate], [CurrentCustomerID]) VALUES (2, 1, N'Dell_SN_PO1_A2', N'SOLD', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-12' AS Date), CAST(N'2025-10-12' AS Date), CAST(N'2026-10-12' AS Date), 2)
INSERT [dbo].[DeviceUnits] ([UnitID], [ProductID], [SerialNumber], [Status], [PurchaseDate], [SoldDate], [WarrantyStartDate], [WarrantyEndDate], [CurrentCustomerID]) VALUES (3, 1, N'Dell_SN_PO1_A3', N'IN_PROGRESS', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2025-10-15' AS Date), CAST(N'2026-10-15' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[DeviceUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, 1, CAST(32000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitID], [Quantity], [UnitPrice]) VALUES (2, 2, 1, 2, 1, CAST(32000000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [UnitID], [Quantity], [UnitPrice]) VALUES (3, 3, 1, 3, 1, CAST(32000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedBy], [OrderDate], [TotalAmount], [Status]) VALUES (1, 1, 2, CAST(N'2025-10-19T00:00:00.000' AS DateTime), CAST(32000000.00 AS Decimal(18, 2)), N'COMPLETED')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedBy], [OrderDate], [TotalAmount], [Status]) VALUES (2, 2, 2, CAST(N'2025-10-12T00:00:00.000' AS DateTime), CAST(32000000.00 AS Decimal(18, 2)), N'COMPLETED')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [CreatedBy], [OrderDate], [TotalAmount], [Status]) VALUES (3, 3, 2, CAST(N'2025-10-15T00:00:00.000' AS DateTime), CAST(32000000.00 AS Decimal(18, 2)), N'COMPLETED')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [SKU], [Brand], [Model], [Name], [CPU], [RAM], [Storage], [GPU], [ScreenSize], [OS], [CostPrice], [UnitPrice], [ReorderLevel], [WarrantyMonths], [CreatedAt]) VALUES (1, N'DELL-XPS-13-9310', N'Dell', N'XPS 13 9310', N'Dell XPS 13 9310', N'Core i7-1165G7', N'16GB LPDDR4x', N'512GB NVMe SSD', N'Intel Iris Xe', N'13.4 inch FHD+', N'Windows 11', CAST(28000000.00 AS Decimal(18, 2)), CAST(32000000.00 AS Decimal(18, 2)), 5, 12, CAST(N'2025-11-09T00:04:50.993' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [SKU], [Brand], [Model], [Name], [CPU], [RAM], [Storage], [GPU], [ScreenSize], [OS], [CostPrice], [UnitPrice], [ReorderLevel], [WarrantyMonths], [CreatedAt]) VALUES (2, N'MAC-AIR-M2-256', N'Apple', N'MacBook Air M2', N'MacBook Air M2 13.6 inch 256GB', N'Apple M2 8-core', N'8GB Unified', N'256GB SSD', N'Apple M2 8-core GPU', N'13.6 inch Liquid Retina', N'macOS', CAST(25000000.00 AS Decimal(18, 2)), CAST(27990000.00 AS Decimal(18, 2)), 10, 12, CAST(N'2025-11-09T00:04:50.993' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [SKU], [Brand], [Model], [Name], [CPU], [RAM], [Storage], [GPU], [ScreenSize], [OS], [CostPrice], [UnitPrice], [ReorderLevel], [WarrantyMonths], [CreatedAt]) VALUES (3, N'LENOVO-YOGA-7-14', N'Lenovo', N'Yoga 7 14IRL8', N'Lenovo Yoga 7', N'Core i5-1340P', N'16GB LPDDR5', N'512GB NVMe SSD', N'Intel Iris Xe', N'14 inch 2.2K', N'Windows 11', CAST(19000000.00 AS Decimal(18, 2)), CAST(21500000.00 AS Decimal(18, 2)), 8, 24, CAST(N'2025-11-09T00:04:50.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseDetails] ON 

INSERT [dbo].[PurchaseDetails] ([PurchaseDetailID], [PurchaseID], [ProductID], [Quantity], [UnitPrice], [SerialFrom], [SerialTo]) VALUES (1, 1, 1, 10, CAST(28000000.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[PurchaseDetails] ([PurchaseDetailID], [PurchaseID], [ProductID], [Quantity], [UnitPrice], [SerialFrom], [SerialTo]) VALUES (2, 1, 2, 10, CAST(25000000.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[PurchaseDetails] ([PurchaseDetailID], [PurchaseID], [ProductID], [Quantity], [UnitPrice], [SerialFrom], [SerialTo]) VALUES (3, 2, 3, 10, CAST(19000000.00 AS Decimal(18, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PurchaseDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([PurchaseID], [SupplierID], [Date], [TotalAmount]) VALUES (1, 2, CAST(N'2025-10-10' AS Date), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseID], [SupplierID], [Date], [TotalAmount]) VALUES (2, 3, CAST(N'2025-10-10' AS Date), NULL)
INSERT [dbo].[PurchaseOrders] ([PurchaseID], [SupplierID], [Date], [TotalAmount]) VALUES (3, 4, CAST(N'2025-10-10' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Contact], [Address], [Phone], [Email]) VALUES (1, N'Nhà Phân Phối FPT Synnex', N'Mr. Hùng', N'Quận 7, TP.HCM', N'090111222', N'fpt@synnex.com')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Contact], [Address], [Phone], [Email]) VALUES (2, N'Công ty Digiworld (DGW)', N'Ms. Lan', N'Quận 1, TP.HCM', N'090222333', N'lan.dgw@world.com')
INSERT [dbo].[Suppliers] ([SupplierID], [Name], [Contact], [Address], [Phone], [Email]) VALUES (3, N'Công ty CP Máy tính Phong Vũ', N'Ms. Mai', N'Quận 3, TP.HCM', N'18006867', N'mai.pt@phongvu.vn')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [AvatarPath], [Email]) VALUES (1, N'admin', N'admin123', N'Admin', N'404 BRAIN NOT FOUND', N'Avatars\f69b951d-4ea6-46ea-b98c-2a2a2472a773.jpg', N'duynln.cnthongtin@gmail.com')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [AvatarPath], [Email]) VALUES (2, N'nhanvien', N'nhanvien123', N'Staff', N'Trần Thị Bán Hàng', NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [AvatarPath], [Email]) VALUES (3, N'kythuat', N'kt123', N'Technician', N'Lê Văn Kỹ Thuật', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WarrantyClaims] ON 

INSERT [dbo].[WarrantyClaims] ([ClaimID], [UnitID], [CustomerID], [ReportDate], [IssueDescription], [Status], [Resolution]) VALUES (1, 3, 3, CAST(N'2025-11-06' AS Date), N'Màn hình bị sọc ngang mờ', N'IN_PROGRESS', NULL)
INSERT [dbo].[WarrantyClaims] ([ClaimID], [UnitID], [CustomerID], [ReportDate], [IssueDescription], [Status], [Resolution]) VALUES (2, 6, 6, CAST(N'2025-11-06' AS Date), N'Màn hình bị sọc ngang mờ', N'PENDING', NULL)
INSERT [dbo].[WarrantyClaims] ([ClaimID], [UnitID], [CustomerID], [ReportDate], [IssueDescription], [Status], [Resolution]) VALUES (3, 9, 9, CAST(N'2025-11-06' AS Date), N'Lỗi màn hình xanh (BSOD) khi chạy game', N'COMPLETED', N'Đã sửa / Thay thế linh kiện')
SET IDENTITY_INSERT [dbo].[WarrantyClaims] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5C7E359EC9986349]    Script Date: 11/12/2025 2:57:41 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DeviceUn__048A00084D14E0DE]    Script Date: 11/12/2025 2:57:41 PM ******/
ALTER TABLE [dbo].[DeviceUnits] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0DCE130633]    Script Date: 11/12/2025 2:57:41 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40206806A]    Script Date: 11/12/2025 2:57:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[DeviceUnits] ADD  DEFAULT ('IN_STOCK') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_Audit_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_Audit_User]
GO
ALTER TABLE [dbo].[DeviceUnits]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnits_Customer] FOREIGN KEY([CurrentCustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[DeviceUnits] CHECK CONSTRAINT [FK_DeviceUnits_Customer]
GO
ALTER TABLE [dbo].[DeviceUnits]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnits_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[DeviceUnits] CHECK CONSTRAINT [FK_DeviceUnits_Product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_DeviceUnit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[DeviceUnits] ([UnitID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_DeviceUnit]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Order] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseID])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetail_Order]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetail_Product]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrder_Supplier]
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD  CONSTRAINT [FK_Warranty_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[WarrantyClaims] CHECK CONSTRAINT [FK_Warranty_Customer]
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD  CONSTRAINT [FK_Warranty_DeviceUnit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[DeviceUnits] ([UnitID])
GO
ALTER TABLE [dbo].[WarrantyClaims] CHECK CONSTRAINT [FK_Warranty_DeviceUnit]
GO
USE [master]
GO
