<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="QuanLyBanLaptop_DAL.Properties.Settings.QuanLyBanLaptopConnectionString"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QuanLyBanLaptop;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="StoreName" value="Cửa hàng Laptop 404 BRAIN NOT FOUND" />
		<add key="StorePhone" value="0909.123.456" />
		<add key="StoreAddress" value="123 Đường Lập Trình, Quận 1, TP. HCM" />
		<add key="StoreLogoPath" value="" />
	</appSettings>
</configuration>