<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanLaptop_DAL.Properties.Settings.QuanLyBanLaptopConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QuanLyBanLaptop;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyBanLaptop_DAL.Properties.Settings.QuanLyBanLaptopConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QuanLyBanLaptop;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>